<%= form_with(model: [@category, Business.new]) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, placeholder: "Amount" %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, required: true, placeholder: "Amount" %>
  </div>

  <%= form.submit 'Create Business' %>
<% end %>
