<%= form_with(model: category, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.file_field :icon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
