<% @categories.each do |category| %>
  <div class="category">
    <h2><%= category.name %></h2>
    <%= image_tag(category.icon, alt: "#{category.name} icon") if category.icon.attached? %>
    <p>Total Amount: <%= category.total_amount %></p>
    <%= link_to "View Transactions", category_transactions_path(category) %>
    <%= link_to "Add a new category", new_category_path %>
  </div>
<% end %>