<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'splash', media: 'all' %>
    <%= stylesheet_link_tag 'registrations', media: 'all' %>
    <%= stylesheet_link_tag 'sessions', media: 'all' %>
    <%= stylesheet_link_tag 'category_css/index', media: 'all' %>
    <%= stylesheet_link_tag 'business_css/index', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
